.place__title {
  max-width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  grid-area: title;
}

@media screen and (max-width:1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width:768px) {
  .place__title {
    max-width: 340px;
    font-size: 44px;
    line-height: 110%;
  }
}

@media screen and (max-width:320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0 16px 0 16px;
  }
}