.place__image {
  max-width: 100%;
  max-height: 100%;
  margin: 48px 0 0 0;
  padding: 0;
  grid-area: image;
  object-fit: fill;
}

@media screen and (max-width:320px) {
  .place__image {
    margin: 32px 0 0 0;    
  }
}