.lead__picture-container {
  max-width: 984px;
  margin: 64px auto 0 auto;
}

@media screen and (max-width:1024px) {
  .lead__picture-container {
    max-width: 928px;
    margin: 56px auto 0 auto;
  }
}

@media screen and (max-width:768px) {
  .lead__picture-container {
    max-width: 100%;
  }
}

@media screen and (max-width:320px) {
  .lead__picture-container {
    margin: 40px 0 0 0;
  }
}