.cover__title {
  max-width: 560px;
  max-height: fit-content;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  margin: 245px auto 32px auto;
}

@media screen and (max-width:1024px) {
  .cover__title {
    margin: 195px auto 32px auto;
  }
}

@media screen and (max-width:768px) {
  .cover__title {
    margin: 115px auto 32px auto;
  }
}

@media screen and (max-width:540px) {
  .cover__title {
    font-size: 63px;
  }
}

@media screen and (max-width:460px) {
  .cover__title {
    font-size: 55px;
  }
}

@media screen and (max-width:403px) {
  .cover__title {
    font-size: 49px;
  }
}

@media screen and (max-width:361px) {
  .cover__title {
    font-size: 44px;
  }
}

@media screen and (max-width:320px) {
  .cover__title {
    margin: 33px 16px 16px 16px;
    font-size: 33px;
    line-height: 109%;
    max-width: 288px;
    max-height: 70px;
  }
}